- name: Copy kubeconfig from singlenode to ansible server
  hosts: single
  tasks:
  - name: Echo generated hostname
    debug:
      var: inventory_hostname

  - name: Fetch kubeconfig
    fetch:
      src: "/etc/rancher/k3s/k3s.yaml"
      dest: "./ctx-{{ inventory_hostname }}.yaml"
      flat: yes

- name: Update kubeconfig
  hosts: localhost
  gather_facts: false
  tasks:
  - name: Ensure the directory exists /root/.kube/clusters/
    ansible.builtin.file:
      path: "/root/.kube/clusters/"
      state: directory

  - name: Find fetched kubeconfigs
    find:
      paths: "{{ playbook_dir }}"
      patterns: "ctx-*.yaml"
    register: kube_files

  - name: Debug found kubeconfig files
    debug:
      msg: "Found {{ kube_files.files | length }} files: {{ kube_files.files | map(attribute='path') | list }}"
    when: kube_files is defined

  - name: Process each fetched kubeconfig
    include_tasks: process-kubeconfig.yml
    loop: "{{ kube_files.files }}"
    loop_control:
      label: "{{ item.path }}"
