---
- name: Read k3s.yaml
  slurp:
    path: "{{ item.path }}"
  register: k3s_yaml_content

- name: Update k3s.yaml with cluster name
  set_fact:
    k3s_yaml: "{{ k3s_yaml_content.content | b64decode | from_yaml }}"
    cluster_name: "{{ item.path | basename | regex_replace('^ctx-(.*)\\.yaml$','\\1') }}"

- name: Compute node IP from inventory
  set_fact:
    node_ip: "{{ hostvars[cluster_name].ansible_host | default(hostvars[cluster_name].ansible_default_ipv4.address | default(cluster_name)) }}"

- name: Echo node name and node IP
  debug:
    msg: "Node: {{ cluster_name }}, IP: {{ node_ip }}"

- name: update cluster info to include hostname
  set_fact:
    k3s_yaml: >-
      {{
        k3s_yaml | combine({
          'clusters': [{
            'name': cluster_name,
            'cluster': {
                      'certificate-authority-data': k3s_yaml.clusters[0].cluster['certificate-authority-data'],
                      'server': 'https://' + node_ip + ':6443'
                    }
          }]
        }, recursive=True)
      }}

- name: update user info to include hostname
  set_fact:
    k3s_yaml: "{{ k3s_yaml | combine({'users':[{'name': cluster_name + '-default-user', 'user': {'client-certificate-data': k3s_yaml.users[0].user['client-certificate-data'], 'client-key-data': k3s_yaml.users[0].user['client-key-data'] }}]}) }}"

- name: Update contexts info to include hostname
  set_fact:
    k3s_yaml: "{{ k3s_yaml | combine({'contexts':[{'context': {'cluster': cluster_name, 'user': cluster_name + '-default-user'}, 'name': 'ctx-' + cluster_name}]}) }}"

- name: Update current-context to include hostname
  set_fact:
    k3s_yaml: "{{ k3s_yaml | combine({'current-context': 'ctx-' + cluster_name }) }}"

- name: Write updated k3s.yaml to include hostname
  copy:
    content: "{{ k3s_yaml | to_nice_yaml(indent=2) }}"
    dest: "/root/.kube/clusters/ctx-{{ cluster_name }}.yaml"

- name: Overwrite original fetched kubeconfig with updated content
  copy:
    content: "{{ k3s_yaml | to_nice_yaml(indent=2) }}"
    dest: "{{ item.path }}"
  when: item.path is defined
